:root{
    --font-raleway: "Raleway", serif;
    --color-yellow: 192 152 54;
    --color-white: 255 255 255;
    --color-black: 16 16 16;
    --color-red: 178 64 55;
    --transition: 0.3s all ease-in-out;

    --font-dynamic: (1vw - 7.68px) * 1.389;
    --font-16-34: 16px/34px;
    --font-18-32: 18px/32px;
}
body {
    font-family: var(--font-raleway);
}
/* Top Bar */
.top-bar {
    font-size: 14px;
    padding: 25px 0 !important;
}
.action-btn a, .top-bar a:not(.top-bar a.btn ~ a) {
    text-decoration: none;
    color: rgb(var(--color-black));
    margin: 0 10px;
    font: 500 var(--font-18-32) var(--font-raleway);
}
.topBar_left > span{
    font:  500 var(--font-18-32) var(--font-raleway);
    color: rgb(var(--color-black));
    
}
.top-bar a.btn ~ a{padding: 0 5px;}
.topBar_left {
    display: flex;
    align-items: center;
}
.action-btn .btn, .top-bar .btn {
    padding: 0px 22px;
    border: 1px solid rgb(var(--color-yellow));
    color: rgb(var(--color-black));
    background: transparent;
    font: 500 var(--font-16-34) var(--font-raleway);
    border-radius: 190px;
}
.btn.extra-btn:hover,
.btn.fill-btn {
    background-color: rgb(var(--color-yellow));
    color: rgb(var(--color-white)) !important;
}
.action-btn .btn:hover, .top-bar .btn:hover {
    background-color: rgb(var(--color-yellow));
    color: rgb(var(--color-white)) !important;
}
.btn.btn-white {
    background-color: transparent;
    border-color: rgb(var(--color-white)) !important;
    color: rgb(var(--color-white));
}
.btn.extra-btn {
    font: 600 18px/52px var(--font-raleway);
    padding: 0 35px;
}
.top-bar i {
    color: rgb(var(--color-black));
    margin-left: 10px;
}
button:focus:not(:focus-visible) {
    box-shadow: 0px 0px 5px 0px rgb(var(--color-black) / 50%);
}
/* Section title */
.section-title > span{
    font: 600 17px/60px var(--font-raleway);
    color: rgb(var(--color-red));
    letter-spacing: 4px;
}
.section-title > h4{
    font: 600 45px/60px var(--font-raleway);
    color: rgb(var(--color-black));
}
.section-title .action-btn .btn {
    padding: 5px 45px;
    font: 600 var(--font-18-32) var(--font-raleway);
}
/* Section title end */
/* Navbar */
.navbar {
    padding: 5px 0;
    height: 82px;
}
.navbar-nav .nav-link {
    color: var(--color-black);
    font: 500 var(--font-18-32) var(--font-raleway);
    padding: 0 1rem !important;
}
.navbar-nav .nav-link:hover {
    color: rgb(var(--color-yellow));
}
/* Dropdown */
.dropdown-toggle {
    background: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
    border-radius: 140px;
    padding: 3px 16px;
    border: none;
    margin-left: 1rem;
    font: 500 var(--font-18-32) var(--font-raleway);
}
.dropdown-toggle:hover{
    background: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
}
/* Navbar Brand */
.navbar-brand img {
    height: 58px;
    z-index: 1;
    position: relative;
    background: rgb(var(--color-white));
    padding: 0 1.5rem;
}
.navbar-brand.mx-auto {
    position: relative;
    text-align: center;
}

/* Treatments */
.treatments-figure:before, .treatments-figure:after {
    content: '';
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: absolute;
    border-top: 0px solid rgb(var(--color-white));
    border-left: 0px solid rgb(var(--color-white));
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: var(--transition);
}

.treatments-figure:after {
    border-top: unset;
    border-left: unset;
    border-right: 0px solid rgb(var(--color-white));
    border-bottom: 0px solid rgb(var(--color-white));
    top: unset;
    left: unset;
    right: 0px;
    bottom: 0px;
}

.treatments-figure {
    position: relative;
    transition: var(--transition);
}
.treatments-card:hover .treatments-figure:before {
    top: 20px;
    left: 20px;
    border-top: 3px solid rgb(var(--color-white));
    border-left: 3px solid rgb(var(--color-white));
}
.treatments-card:hover .treatments-figure:after {
    right: 20px;
    bottom: 20px;
    border-right: 3px solid rgb(var(--color-white));
    border-bottom: 3px solid rgb(var(--color-white));
}
.treatments-card:hover .treatments-figure {
    transform: scale(1.05);
    box-shadow: 0px 8px 10px -5px rgb(var(--color-black) / 40%);
    border-radius: 6px;
}
.treatments-card:hover a.btn {
    background-color: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
}
/* Treatments end */
/* About Us Section  */
section.aboutus{
    background: rgb(var(--color-red));
}
.aboutImage {
    position: relative;
    max-width: calc(600px - 5rem);
    margin: auto;
    top: 70px;
}
.aboutImage > img {
    z-index: 2;
    position: relative;
}
.aboutImage .image-three, .aboutImage .image-two {
    position: absolute;
    height: 45% !important;
    width: 40% !important;
    object-fit: cover;
    top: -5rem;
    right: -5rem;
    display: inline-block;
    z-index: 3;
}
.aboutImage .image-three{
    width: 35% !important;
    height: 40% !important;
    bottom: 4.5rem;
    left: -10rem;
    top: unset;
    right: unset;
}
.image-one {
    /* margin-bottom: -5rem;
    z-index: 2; */
}
.about-details {
    margin-left: 2rem;
    position: relative;
    z-index: 1;
}
.right-section::before,
section.testimonial::after,
section.testimonial::before,
.aboutImage:before {
    content: '';
    position: absolute;
    background: url('./media/bg_leaf.png');
    background-size: 130%;
    background-position: top right;
    height: 100%;
    width: 100%;
    display: block;
    top: -70%;
    background-repeat: no-repeat;
    right: -50%;
    z-index: 0;
    transform: scale(1);
}
.about-details > span {
    position: relative;
    margin-left: 25px;
    font: 600 17px/normal var(--font-raleway);
    margin-bottom: 32px !important;
    display: block;
}
.about-details > span::before {
    content: '';
    height: 3px;
    width: 20px;
    background: rgb(var(--color-white));
    border-radius: 5px;
    position: absolute;
    right: calc(100% + 5px);
    top: 50%;
}
.about-details > h3 {
    font: 600 45px/normal var(--font-raleway);
    margin-bottom: 20px;
}
.about-details > p {
    font: 400 var(--font-18-32) var(--font-raleway);
    margin-bottom: 64px;
}
.about-details > a {
    line-height: 40px;
    padding: 0 15px;
}
/* About Us Section End */
/* testimonail section */
.treatments-content > h4{font: 600 16px/normal var(--font-raleway);margin-bottom: 0;}
.treatments-content > span{font: 500 14px/24px var(--font-raleway);}
section.testimonial::after,
section.testimonial::before {
    background: url(./media/bg_leaf-red.png);
    background-repeat: no-repeat;
    top: 100px;
    left: 0;
    transform: scale(1);
    right: unset;
    background-size: 270px;
    z-index: -1;
}
section.testimonial::after {
    left: unset;
    right: 0;
    background-size: contain;
    width: 200px;
    transform: rotate(180deg);
    top: -30%;
    background-position: top;
}
/* testimonail section End */
/* Slider Section  */
.carousel-indicators [data-bs-target] {
    height: 30px;
    text-indent: unset;
    width: 30px;
    border-radius: 50%;
    border: 1px solid rgb(var(--color-white) / 50%);
    background-color: rgb(var(--color-black) / 20%);
    color: rgb(var(--color-white));
    margin: 4px 5px;
    font: 500 14px/30px var(--font-raleway);
}
.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: unset;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    top: 0%;
    right: 15px;
    margin: 0;
}
.carousel-indicators [data-bs-target].active {
    color: rgb(var(--color-white));
    border-color: rgb(var(--color-white));
}
.slider-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(var(--color-white));
    width: calc(100% - 15rem);
}
.slider-inner-content {
    max-width: 40%;
    position: relative;
    margin-left: 5rem;
}
.inner-content{position: relative;}
.slider-inner-content .inner-content::before {
    content: '';
    height: 100%;
    width: 8rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgb(var(--color-red));
    border-top: 1px solid rgb(var(--color-red));
    border-top-left-radius: 50px;
    left: -4rem;
}
.offer-strip span {
    color: rgb(var(--color-yellow));
    font: 700 20px/36px var(--font-raleway);
    background-color: rgb(var(--color-black) / 50%);
    border: 1px solid rgb(var(--color-white));
    border-radius: 50px;
    padding: 0 9px;
    display: inline-block;
}
.offer-strip {
    margin: 0 10px 2rem 5rem;
    position: relative;
    top: -20px;
    font: 700 20px/normal var(--font-raleway);
}
.slider-inner-content h2 {
    font: 700 calc(3rem + var(--font-dynamic))/normal var(--font-raleway);
}
.offer-strip ~ p {
    font: 300 calc(0.2rem + var(--font-dynamic))/normal var(--font-raleway);
}
/* Slider Section End */
/* Profile Section  */
.profile-section {
    background-color: rgb(var(--color-red));
}
section.testimonial,.left-section {position: relative;}
.team-images {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}
.team-images img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}
.team-images img.active {
    border-color: rgb(var(--color-white));
}
.underline {
    height: 3px;
    background-color: rgb(var(--color-white));
    width: 100px;
    margin-top: 0;
    transition: transform 0.3s ease;
    border-radius: 5px;
}
.profile-section .content span,.profile-section .content h3,.profile-section .content p {
    font: 500 17px/normal var(--font-raleway);
    color: rgb(var(--color-white));
    margin-bottom: 10px;

}
.profile-section .content span {font-size: 17px;}
.profile-section .content h3 { font-size: 45px;}
.profile-section .content p {
    margin-bottom: 50px;
    font: 400 var(--font-18-32) var(--font-raleway);
    max-width: 700px;
}
.profile-section .slider-dots {
    display: flex;
    gap: 5px;
}
.profile-section  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(var(--color-black) / 50%);
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.profile-section  .dot.active {
    opacity: 1;
    background-color: rgb(var(--color-white));
}
.right-section{position: relative;}
.right-section::before {
    left: unset;
    right: 100%;
    background-size: cover;
    width: 600px;
    transform: rotate(0deg) scaleX(-1);
    top: unset;
    background-position: -175px 250px;
    bottom: 0;
    height: 100%;
    z-index: 0;
}
.right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
}
.navbar-brand.mx-auto {
    top: -40px;
    left: 50px;
}
section.testimonial{overflow: hidden;}
/* Profile Section  */
@media (max-width: 1560px){
    :root{
        --font-16-34: 13px/32px;
        --font-18-32: 15px/28px;
    }
    .navbar-brand img{
        height: 40px;
    }
    .navbar-brand.mx-auto {
        top: -40px;
        left: 50px;
    }
    .slider-inner-content h2{font: 700 45px/normal var(--font-raleway);}
    .slider-inner-content p{font: 300 18px/30px var(--font-raleway);}
    .slider-inner-content{max-width: 50%;}
    .right-section::before,.right-section{width: 100%;height: 100%;}
}
@media (max-width: 1200px) {
    :root{
        --font-16-34: 12px/28px;
        --font-18-32: 14px/26px;
    }
    .navbar-brand img{height: 40px;}
    .topBar_right span {font-size: 12px}
    .navbar-brand.mx-auto {top: -40px;left: 50px;}
    .gap-3 {gap: 0px !important}
    .slider-inner-content{max-width: 50%;}
    .navbar-nav .nav-link {padding: 0 5px !important;}
    .top-bar {font-size: 14px;padding: 15px 0 !important;}
    /* Slider */
    .slider-inner-content h2 {font-size: 26px}
    .offer-strip ~ p{font-size: 14px; line-height: 20px;}
    .offer-strip{font-size: 16px; top: -10px;margin: 0 10px 1rem 5rem;}
    .offer-strip span{font-size: 13px;line-height: 24px;}
    .btn.extra-btn {font: 600 15px/40px var(--font-raleway);padding: 0 25px;}
    /* About Section  */
    /* .about-details > h3{font-size: 36px;} */
    .about-details > p{margin-bottom: 30px;}
    .aboutImage{max-width: 80%;}
    .aboutImage .image-three, .aboutImage .image-two {height: 35% !important;width: 35% !important;top: -10%;right: -10%;}
    .aboutImage .image-three {width: 30% !important;height: 35% !important;bottom: 15%;left: -20%;top: unset;right: unset;}
    /* Profile section  */
    .profile-section .content p {margin-bottom: 30px;font: 400 14px/24px var(--font-raleway);}
    .profile-section .slider-dots {padding-top: 1.5rem !important;}
    .right-section::before,.right-section{width: 100%;height: 100%;}
}
@media (min-width: 992px) {
    /* .navbar-brand.mx-auto {top: unset !important;left: unset !important;} */
}
@media (max-width: 991px) {
    .navbar-brand.mx-auto {top: unset !important;left: unset !important;}
    .gap-3{gap: 0 !important;}
    .topBar_right span{display: none !important;}
    .navbar-toggler {border: none;outline: none;}
    .navbar-toggler-icon {width: 30px;height: 30px;}
    .navbar-collapse {background-color: rgb(var(--color-white));padding: 10px;text-align: center;z-index: 6;position: absolute;top: 100%;left: 0;right: 0;}
    .navbar-nav {width: 100%;}
    .navbar-nav .nav-item {padding: 5px 0;}
    .navbar-brand {margin: 0 !important;}
    .navbar-brand img {height: 36px;}
    .navbar-nav .nav-link {font-size: 14px;}
    /* Slider */
    .slider-inner-content h2 {font-size: 26px}
    .offer-strip ~ p{font-size: 14px; line-height: 20px;}
    .offer-strip{font-size: 16px; top: -10px;margin: 0 10px 1rem 5rem;}
    .offer-strip span{font-size: 13px;line-height: 24px;}
    .btn.extra-btn {font: 600 15px/40px var(--font-raleway);padding: 0 25px;}
    .slider-inner-content{max-width: 90%;margin-left: 0;}
    /* About Section  */
    .about-details > h3{font-size: 28px;}
    .about-details > p {margin-bottom: 15px;font-size: 14px;line-height: 24px;}
    .aboutImage{max-width: 80%;}
    .aboutImage .image-three, .aboutImage .image-two {height: 35% !important;width: 35% !important;top: -5%;right: -10%;}
    .aboutImage .image-three {width: 30% !important;height: 35% !important;bottom: 15%;left: -10%;top: unset;right: unset;}
    .container.intro {padding: 1rem 0 0 !important;margin: 1rem 0 0  !important;}
    /* testimonial */
    .treatments-figure:before, .treatments-figure:after{width: 50px; height: 50px;}
    section.testimonial, .left-section{padding: 1rem 0 0 !important;}
    /* Profile section  */
    .profile-section .content p {margin-bottom: 30px;font: 400 14px/24px var(--font-raleway);}
    .profile-section .slider-dots {padding-top: 1.5rem !important;}
    .underline{display: none;}
    .right-section::before,.right-section{width: 100%;height: 100%;}
}
@media (max-width: 767px){
    .testimonial .section-title {margin-top: 0 !important;}
    .aboutImage:before{display: none;}
    .navbar-brand img{padding: 0 0; height: 28px;}
    .image-one {margin-bottom: 2rem;}
    .carousel-item img {min-height: 500px;object-fit: cover;object-position: 60%;}
    .slider-content{width: calc(100% - 3rem);margin-left: 0;}
    .slider-inner-content .inner-content::before{left: -2rem;width: 5rem;}
    .offer-strip{margin-left: 4rem;}
    .brandLogo > .brandLogo_item {margin-bottom: 15px;}
    .brandLogo,.intro,section.testimonial {padding: 0px 0px !important;}
    .about-details{padding: 0 15px;margin-left: 0;}
     .profile-section .content h3, 
    .about-details > h3{font-size: 36px;line-height: normal;}
    .profile-section .content p,
    .about-details > p{font: 400 14px/26px var(--font-raleway);}
    .slider-inner-content{margin-left: 3rem;}
    section.aboutus{overflow: hidden;padding: 1rem 0;}
    .aboutImage {padding: 0 15px;top: unset;}
    .container.intro{margin: 1rem auto 0  !important;}
    .profile-section .col-md-5 {order: -1;}
    .profile-section {padding: 1rem 0 2rem !important}
    .profile-section > .container {padding-top: 0rem !important;}
}
@media (max-width: 576px){
    /* .aboutImage{display: grid;}
    .image-two, .image-three{

    }
    .image-one{} */
}