:root{
    --font-raleway: "Raleway", serif;
    --color-yellow: 192 152 54;
    --color-white: 255 255 255;
    --color-black: 16 16 16;
    --color-red: 178 64 55;
    --transition: 0.3s all ease-in-out;
}
body {
    font-family: var(--font-raleway);
}
/* Top Bar */
.top-bar {
    font-size: 14px;
}
.action-btn a, .top-bar a {
    text-decoration: none;
    color: #333;
    margin: 0 10px;
}
.action-btn .btn,
.top-bar .btn {
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid rgb(var(--color-yellow));
    color: rgb(var(--color-black));
    background: transparent;
}
.btn.fill-btn {
    background-color: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
}

.action-btn .btn:hover,
.top-bar .btn:hover {
    background-color: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
}
.btn.btn-white {
    background-color: transparent;
    border-color: rgb(var(--color-white)) !important;
    color: rgb(var(--color-white));
}
.top-bar i {
    color: rgb(var(--color-black));
    margin-left: 10px;
}
button:focus:not(:focus-visible) {
    box-shadow: 0px 0px 5px 0px rgb(var(--color-black) / 50%);
}
/* Section title */
.section-title > span{
    font: 600 17px/60px var(--font-raleway);
    color: rgb(var(--color-red));
}
.section-title > h4{
    font: 600 45px/60px var(--font-raleway);
    color: rgb(var(--color-black));
}
/* Section title end */
/* Navbar */
.navbar {
    padding: 15px 0;
}
.navbar-nav .nav-link {
    color: var(--color-black);
    font-weight: 500;
    font-size: 18px;
}
.navbar-nav .nav-link:hover {
    color: rgb(var(--color-yellow));
}
/* 🔹 Dropdown */
.dropdown-toggle {
    background: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
    border-radius: 20px;
    padding: 8px 15px;
    border: none;
}
.dropdown-toggle:hover{
    background: rgb(var(--color-yellow));
}
/* 🔹 Navbar Brand */
.navbar-brand img {
    height: 50px;
}
.navbar-brand img {
    height: 50px;
    z-index: 1;
    position: relative;
    background:rgb(var(--color-white));
    padding: 0 10px;
}
.navbar-brand.mx-auto {
    position: relative;
    text-align: center;
}

/* Treatments */
.treatments-figure:before, .treatments-figure:after {
    content: '';
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100px;
    background-color: transparent;
    position: absolute;
    border-top: 0px solid rgb(var(--color-white));
    border-left: 0px solid rgb(var(--color-white));
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: var(--transition);
}

.treatments-figure:after {
    border-top: unset;
    border-left: unset;
    border-right: 0px solid rgb(var(--color-white));
    border-bottom: 0px solid rgb(var(--color-white));
    top: unset;
    left: unset;
    right: 0px;
    bottom: 0px;
}

.treatments-figure {
    position: relative;
    transition: var(--transition);
}
.treatments-card:hover .treatments-figure:before {
    top: 20px;
    left: 20px;
    border-top: 3px solid rgb(var(--color-white));
    border-left: 3px solid rgb(var(--color-white));
}
.treatments-card:hover .treatments-figure:after {
    right: 20px;
    bottom: 20px;
    border-right: 3px solid rgb(var(--color-white));
    border-bottom: 3px solid rgb(var(--color-white));
}
.treatments-card:hover .treatments-figure {
    transform: scale(1.05);
    box-shadow: 0px 8px 10px -5px rgb(var(--color-black) / 40%);
    border-radius: 6px;
}
.treatments-card:hover a.btn {
    background-color: rgb(var(--color-yellow));
    color: rgb(var(--color-white));
}
/* Treatments end */
/* About Us Section  */
section.aboutus{
    background: rgb(var(--color-red));
    overflow: hidden;
}
.aboutImage {
    position: relative;
    max-width: calc(600px - 5rem);
    margin: auto;
}
.aboutImage > img {
    z-index: 2;
    position: relative;
}
.aboutImage .image-three, .aboutImage .image-two {
    position: absolute;
    height: 45% !important;
    width: 40% !important;
    object-fit: cover;
    top: -5rem;
    right: -5rem;
    display: inline-block;
    z-index: 3;
}
.aboutImage .image-three{
    width: 35% !important;
    height: 40% !important;
    bottom: 5rem;
    left: -10rem;
    top: unset;
    right: unset;
}
.image-one {
    margin-bottom: -5rem;
    z-index: 2;
}
.about-details {
    margin-left: 2rem;
    position: relative;
    z-index: 1;
}
.right-section::before,
section.testimonial::after,
section.testimonial::before,
.aboutImage:before {
    content: '';
    position: absolute;
    background: url('./media/bg_leaf.png');
    background-size: 130%;
    background-position: top right;
    height: 100%;
    width: 100%;
    display: block;
    top: -57%;
    background-repeat: no-repeat;
    right: -50%;
    z-index: 0;
    transform: scale(1);
}
.about-details > span {
    position: relative;
    margin-left: 25px;
    font: 600 17px/60px var(--font-raleway);
}
.about-details > span::before {
    content: '';
    height: 3px;
    width: 20px;
    background: rgb(var(--color-white));
    border-radius: 5px;
    position: absolute;
    right: calc(100% + 5px);
    top: 50%;
}
.about-details > h3 {
    font: 600 45px/60px var(--font-raleway);
}
.about-details > p {
    font: 400 18px/32px var(--font-raleway);
}
.about-details > a {
    line-height: 40px;
    padding: 0 15px;
}
/* About Us Section End */
/* testimonail section */
.treatments-content > h4{font: 600 16px/normal var(--font-raleway);margin-bottom: 0;}
.treatments-content > span{font: 500 14px/24px var(--font-raleway);}
section.testimonial::after,
section.testimonial::before {
    background: url(./media/bg_leaf-red.png);
    background-repeat: no-repeat;
    top: 100px;
    left: 0;
    transform: scale(1);
    right: unset;
    background-size: 270px;
    z-index: -1;
}
section.testimonial::after {
    left: unset;
    right: 0;
    background-size: contain;
    width: 200px;
    transform: rotate(180deg);
    top: -30%;
    background-position: top;
}
/* testimonail section End */
/* Slider Section  */
.carousel-indicators [data-bs-target] {
    height: 20px;
    text-indent: unset;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgb(var(--color-white) / 50%);
    background-color: transparent;
    color: rgb(var(--color-white));
    margin: 4px 5px;
    font: 500 14px/20px var(--font-raleway);
}
.carousel-indicators {
    position: absolute;
    bottom: 0;
    left: unset;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    flex-direction: column;
    top: 0%;
    right: 15px;
    margin: 0;
}
.carousel-indicators [data-bs-target].active {
    color: rgb(var(--color-white));
    border-color: rgb(var(--color-white));
}
.slider-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgb(var(--color-white));
}
.slider-inner-content {
    max-width: 500px;
    position: relative;
    margin-left: 5rem;
}
.slider-inner-content::before {
    content: '';
    height: 100%;
    width: 5rem;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px solid rgb(var(--color-red));
    border-top: 1px solid rgb(var(--color-red));
    border-top-left-radius: 50px;
    left: -2rem;
}
.offer-strip > span {
    color: rgb(var(--color-yellow));
    font: 300 16px/20px var(--font-raleway);
    background-color: rgb(var(--color-black) / 50%);
    border: 1px solid rgb(var(--color-white));
    border-radius: 50px;
    padding: 0 9px;
    display: inline-block;
}
.offer-strip {margin: -0.6rem 10px 2rem 4rem;}
.slider-inner-content > h2 {
    font: 700 36px/normal var(--font-raleway);
}
/* Slider Section End */
/* Profile Section  */
.profile-section {
    background-color: rgb(var(--color-red));
}
section.testimonial,.left-section {position: relative;}
.team-images {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
}
.team-images img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    cursor: pointer;
    object-fit: cover;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}
.team-images img.active {
    border-color: rgb(var(--color-white));
}
.underline {
    height: 3px;
    background-color: rgb(var(--color-white));
    width: 90px;
    margin-top: 0;
    transition: transform 0.3s ease;
    border-radius: 5px;
}
.profile-section .content span,.profile-section .content h3,.profile-section .content p {
    font: 500 17px/normal var(--font-raleway);
    color: rgb(var(--color-white));
    margin-bottom: 10px;

}
.profile-section .content span {font-size: 17px;}
.profile-section .content h3 { font-size: 45px;}
.profile-section .content p {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
    max-width: 500px;
    line-height: 24px;
}
.profile-section .slider-dots {
    display: flex;
    gap: 5px;
}
.profile-section  .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(var(--color-black) / 50%);
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}
.profile-section  .dot.active {
    opacity: 1;
    background-color: rgb(var(--color-white));
}
.right-section{position: relative;}
.right-section::before {
    left: unset;
    right: 100%;
    background-size: cover;
    width: 600px;
    transform: rotate(0deg) scaleX(-1);
    top: unset;
    background-position: -175px 250px;
    bottom: 0;
    height: 100%;
}
.right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Rounded corners */
}
/* Profile Section  */
@media (min-width: 992px) {
    .navbar-brand.mx-auto {
        top: -41px;
    }
}
@media (max-width: 991px) {
    .navbar-toggler {
        border: none;
        outline: none;
    }

    .navbar-toggler-icon {
        width: 30px;
        height: 30px;
    }

    .navbar-collapse {
        background-color: rgb(var(--color-white));
        padding: 10px;
        text-align: center;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item {
        padding: 5px 0;
    }

    .navbar-brand {
        margin: 0 !important;
    }
    .navbar-brand img {
        height: 36px;
    }
    .navbar-nav .nav-link {
        font-size: 14px;
    }
}
@media (max-width: 767px){
    .aboutImage:before{
        display: none;
    }
    .image-one {margin-bottom: 2rem;}
    .carousel-item img {
        min-height: 90vh;
        object-fit: cover;
        object-position: 60%;
    }
    .brandLogo > .brandLogo_item {margin-bottom: 15px;}
    .brandLogo,.intro,section.testimonial {padding: 0px 0px !important;}
    .about-details{padding: 0 15px;}
     .profile-section .content h3, 
    .about-details > h3{font-size: 36px;line-height: normal;}
    .profile-section .content p,
    .about-details > p{font: 400 14px/26px var(--font-raleway);}
    .slider-inner-content{margin-left: 3rem;}
}
@media (max-width: 576px){
    .image-two, .image-three{
        display: none !important;
    }
}